[submodule "Face-Yaw-Roll-Pitch-from-Pose-Estimation-using-O"]
	path = Face-Yaw-Roll-Pitch-from-Pose-Estimation-using-OpenCV
	url = https://github.com/jerryhouuu/Face-Yaw-Roll-Pitch-from-Pose-Estimation-using-OpenCV.git
