[submodule "Face-Yaw-Roll-Pitch-from-Pose-Estimation-using-OpenCV"]
	path = Face-Yaw-Roll-Pitch-from-Pose-Estimation-using-OpenCV
	url = https://github.com/jerryhouuu/Face-Yaw-Roll-Pitch-from-Pose-Estimation-using-OpenCV.git
[submodule "face-alignment"]
	path = face-alignment
	url = https://github.com/1adrianb/face-alignment.git
