<div class="collapse collapse-horizontal" id="collapseWidthExample">
  <div class="" style="width: 100vw; height: 100vh;">
    <div class="d-flex flex-column p-3 text-white bg-dark h-100 w-100">
      <div class="mt-5 pt-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">NDHU x CSIE</span>
        </a>
      </div>

      <hr>

      <div class="mb-auto">
        <div class="nav nav-pills flex-column">
          <!-- Upload modal-->
          <button type="button" class="text-start btn btn-primary mb-3" data-bs-toggle="modal"
            data-bs-target="#MBUploadModal">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home" />
            </svg>
            Upload
          </button>

          <div class="modal fade" id="MBUploadModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-body">Upload Video</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{{ url_for('main.profile', name=g.user)}}" method="post" enctype=multipart/form-data
                    id="UploadData">
                    <input type="button" id="loadFileXml" value="Video or Photo"
                      class="text-start btn btn-primary mb-3 w-100"
                      onclick="document.getElementById('video').click();" />
                    <input type="file" class="d-none" id="video" name="video" />

                    <input type="button" id="loadFileXml" value="Background"
                      class="text-start btn btn-primary mb-3 w-100"
                      onclick="document.getElementById('background').click();" />
                    <input type="file" class="d-none" id="background" name="background" />
                    <input type="submit" class="d-none" id="upload">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary" onclick="document.getElementById('upload').click()">Apply</button>
                </div>
              </div>
            </div>
          </div>

          <!-- New model -->
          <button type="button" class="text-start btn btn-primary mb-3" data-bs-toggle="modal"
            data-bs-target="#MBFolderModal">
            <svg class="bi me-2" width="16" height="16">
              <use xlink:href="#home" />
            </svg>
            New
          </button>

          <div class="modal fade" id="MBFolderModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-body">Choice Your Folder Function</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('main.create_new_folder', name=g.user)}}" method="post"
                    enctype=multipart/form-data>
                    <input type="button" id="loadFileXml" value="New Background"
                      class="text-start btn btn-primary mb-3 w-100"
                      onclick="document.getElementById('newBackground').click();" />
                    <input type="file" class="d-none" id="newBackground" name="newBackground" />

                    <div class="form-check text-dark">
                      <input class="form-check-input" type="checkbox" name="styletransfer" value="True"
                        id="styletransfer">
                      <label class="form-check-label" for="styletransfer">
                        Style transfer
                      </label>
                    </div>
                    <div class="form-check text-dark">
                      <input class="form-check-input" type="checkbox" name="people" value="True" id="people">
                      <label class="form-check-label" for="people">
                        People
                      </label>
                    </div>

                    <input type="submit" class="d-none" id="new">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary" onclick="document.getElementById('new').click()">Apply</button>
                </div>
              </div>
            </div>
          </div>

          <hr>

          {% for folder in folders %}
            <li>
              <a href="{{ url_for('main.change_folder', name=g.user['username'], folder=folder[1])}}"
                class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                  <use xlink:href="#speedometer2" />
                </svg>
                {{ folder[0] }}
              </a>
            </li>
            {% endfor %}
        </div>
      </div>

      <hr>

      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://avatars.githubusercontent.com/u/48400614?v=4" alt="NotFound" width="32" height="32"
            class="rounded-circle me-2">
          <strong>{{ g.user['username']}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>